PORT=3000
MONGODB_URI=mongodb+srv://USUARIO:CONTRASENA@CLUSTER.mongodb.net/bitacora_pasantia?retryWrites=true&w=majority
JWT_SECRET=CAMBIE_ESTA_CLAVE_POR_UNA_LARGA_Y_ALEATORIA
ADMIN_NOMBRE=Nombre del docente
ADMIN_CORREO=docente@mep.go.cr
ADMIN_PASSWORD=CAMBIE_ESTA_CONTRASENA
